@charset "UTF-8";
/* Inicio estilos index */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body .container-fluid {
  flex: 1;
  displaY: flex;
  flex-direction: column;
  padding: 0;
}
body .container-fluid main {
  flex: 1;
}
body .container-fluid .row {
  margin: 0;
}
body .container-fluid main .sectionIndex1, body .container-fluid main .sectionIndex2, body .container-fluid main .sectionIndex3 {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 30px;
  color: #191825;
  margin-top: 30px;
}
body .container-fluid main .sectionIndex1 .text, body .container-fluid .sectionIndex2 main .sectionIndex1 p, body .container-fluid .sectionIndex2 main.mainMovies .sectionIndex1 .movies h6, body .container-fluid .sectionIndex2 main.mainMovies .movies .sectionIndex1 h6, body .container-fluid .sectionIndex2 main .sectionIndex1 h2, body .container-fluid main .sectionIndex2 .text, body .container-fluid main .sectionIndex2 p, body .container-fluid main.mainMovies .sectionIndex2 .movies h6, body .container-fluid main.mainMovies .movies .sectionIndex2 h6, body .container-fluid main .sectionIndex2 h2, body .container-fluid main .sectionIndex3 .text, body .container-fluid .sectionIndex2 main .sectionIndex3 p, body .container-fluid .sectionIndex2 main.mainMovies .sectionIndex3 .movies h6, body .container-fluid .sectionIndex2 main.mainMovies .movies .sectionIndex3 h6, body .container-fluid .sectionIndex2 main .sectionIndex3 h2 {
  margin-top: 20px;
  width: 70%;
  text-align: justify;
}
body .container-fluid main .sectionIndex1 .imgInicio, body .container-fluid main .sectionIndex2 .imgInicio, body .container-fluid main .sectionIndex3 .imgInicio {
  opacity: 0;
  animation: aparecer 3.5s forwards;
}
body .container-fluid .sectionIndex2 p, body .container-fluid .sectionIndex2 main.mainMovies .movies h6, main.mainMovies .movies body .container-fluid .sectionIndex2 h6, body .container-fluid .sectionIndex2 h2 {
  margin-left: 25%;
}

/* Fin estilos index */
/* Inicio estilos movies pages*/
main.mainMovies {
  background-color: #DDE6ED;
  align-items: center;
  justify-content: center;
}
main.mainMovies .movies {
  border-radius: 12% 12% 20px 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}
main.mainMovies .movies p, main.mainMovies .movies h6 {
  text-align: center;
}
main.mainMovies .movies h6 {
  font-weight: bold;
}
main.mainMovies .movies img {
  border-radius: 12% 12% 0 0;
  margin: 0;
  max-height: 260px;
  opacity: 0;
  animation: aparecer 5s forwards;
}
main.mainMovies .movies .card-body {
  padding: 10px;
}
main.mainMovies .movies .card-title {
  height: 40px;
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
}
.movies button, dialog button, .sendBoton, main.mainSuscribe div form button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  border: 1px solid #9336B4;
  display: block;
  background-color: rgb(159, 60, 147);
  color: white;
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
  opacity: 90%;
  width: 150px;
  align-self: center;
  transition: color 0.3s ease;
}

.movies button:hover, div form button:hover, .sendBoton:hover, main.mainSuscribe div form button:hover {
  color: #C3ACD0;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 20px;
  z-index: 999;
  margin: 0 auto;
}
dialog iframe {
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 10px;
}

#modal1, #modal2, #modal3, #modal4, #modal5 {
  width: 60%;
}

/* Fin estilos movies pages*/
/* Inicio estilos para suscríbete */
main.mainSuscribe {
  padding: 4%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
main.mainSuscribe div p, main.mainSuscribe div main.mainMovies .movies h6, main.mainMovies .movies main.mainSuscribe div h6 {
  text-align: justify;
}
main.mainSuscribe div form button {
  padding: 5px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
}

/* Fin estilos para suscríbete */
/* Inicio estilos para compra */
.buyTable {
  max-width: 40%;
  max-height: 400px;
  position: fixed;
  left: 65%;
  top: 202px;
  animation: salto 2s ease-in-out 1;
}
.buyTable caption {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(159, 60, 147);
}
.buyTable tr td:first-child {
  font-weight: bold;
}

@keyframes salto {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.containerCompra {
  max-width: 50%;
  margin: 5% 2% 5% 10%;
}
.containerCompra h2 {
  text-align: center;
  border-bottom: rgb(159, 60, 147) solid 0.5px;
  padding: 4%;
  padding-bottom: 1%;
  color: rgb(159, 60, 147);
  font-weight: bolder;
  padding-top: 0;
}
.containerCompra h3 {
  text-align: center;
  margin: 5%;
  font-weight: bold;
}
.containerCompra img {
  align-self: center;
  justify-content: center;
  margin: 20px;
}
.containerCompra div {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.containerCompra p, .containerCompra main.mainMovies .movies h6, main.mainMovies .movies .containerCompra h6 {
  text-align: justify;
  padding: 5px;
}

/* FIn estilos compra */
/* Inicio estilos recomienda */
.mainRecomendation {
  max-width: 70%;
  margin: 0 auto;
  padding: 7%;
}
.mainRecomendation h2 {
  text-align: center;
  font-weight: bolder;
}
.mainRecomendation form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainRecomendation .buttonContainer {
  display: flex;
  flex-direction: row;
}
.mainRecomendation div div {
  background-color: rgb(159, 60, 147);
  color: #F1F6F9;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin: 40px;
  transition: background-color 0.3s ease;
}
.mainRecomendation div div p, .mainRecomendation div div main.mainMovies .movies h6, main.mainMovies .movies .mainRecomendation div div h6 {
  text-align: center;
  margin-top: 16px;
}
.mainRecomendation div div:hover {
  background-color: #9336B4;
}
.mainRecomendation .inputText {
  width: 20em;
  margin: 5px;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

/* Inicio estilos header */
header {
  display: flex;
  height: 140px;
  margin: 0;
  justify-content: space-between;
  align-items: end;
  background: linear-gradient(90deg, rgb(159, 60, 147) 0%, rgb(27, 113, 181) 100%);
}
header .brand {
  display: flex;
  align-items: flex-start;
  align-self: center;
  padding: 50px;
}
header h1 {
  display: flex;
  font-size: 2em;
  color: white;
  margin: 20px;
}
header div a {
  text-decoration: none;
  font-size: 1.5em;
}
header .navbar {
  background-color: transparent;
}
header .navbar .nav-item {
  padding: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-left: 0.5px solid white;
}
header .navbar .nav-item .nav-link {
  color: white;
  font-weight: bold;
}
header .navbar .nav-item .active {
  color: #FF79CD;
}
header .navbar .nav-item a:hover {
  color: #FF79CD;
}

/* Inicio estilos footer */
footer {
  height: 140px;
  align-items: center;
  background: linear-gradient(90deg, rgb(159, 60, 147) 0%, rgb(27, 113, 181) 100%);
}
footer .buy-button,
footer .subscribe {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: #DDE6ED;
  color: #0E2954;
  padding: 10px 20px;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  transition: color 0.5s ease;
}
footer .buy-button:hover,
footer .subscribe:hover {
  color: rgb(159, 60, 147);
}
footer .date {
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.footerRecomienda {
  margin-right: 0;
}

@media (max-width: 576px) {
  /* Inicio media para header */
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  header .brand {
    padding: 2px;
    margin-top: 5px;
    justify-content: end;
  }
  header .navbar {
    padding: 0;
    margin: 0;
  }
  header .navbar ul .nav-item {
    border: none;
  }
  header .navbar-toggler {
    border: white 0.5px solid;
    margin-top: 0;
    position: relative;
    bottom: 30px;
  }
  header .navbar-toggler-icon {
    background-image: white;
    width: 16px;
    align-self: center;
    margin-top: 0;
  }
  /* Fin media para header */
  /* Inicio media para footer */
  .buy-button, .subscribe, .date {
    padding: 5px;
  }
  a.buy-button, a.subscribe, p.date, main.mainMovies .movies h6.date {
    display: block;
    font-size: 0.8em;
    color: white;
    background-color: transparent;
  }
  a.buy-button:hover, a.subscribe:hover {
    color: rgb(159, 60, 147);
  }
  /* Fin media para footer */
  .container-fluid {
    margin-right: 0;
    padding: 0;
    border: none;
  }
  /* Inicio Media para index */
  body .container-fluid main .sectionIndex1, body .container-fluid main .sectionIndex2 {
    border-bottom: rgb(159, 60, 147) solid 0.5px;
  }
  body .container-fluid main .sectionIndex2 p, body .container-fluid main.mainMovies .sectionIndex2 .movies h6, body .container-fluid main.mainMovies .movies .sectionIndex2 h6, body .container-fluid main .sectionIndex2 h2 {
    margin-left: 0;
  }
  body .container-fluid main section.sectionIndex1 h2, body .container-fluid main section.sectionIndex2 h2, body .container-fluid main section.sectionIndex3 h2 {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  body .container-fluid main section.sectionIndex1 p, body .container-fluid main.mainMovies section.sectionIndex1 .movies h6, body .container-fluid main.mainMovies .movies section.sectionIndex1 h6, body .container-fluid main section.sectionIndex2 p, body .container-fluid main.mainMovies section.sectionIndex2 .movies h6, body .container-fluid main.mainMovies .movies section.sectionIndex2 h6, body .container-fluid main section.sectionIndex3 p, body .container-fluid main.mainMovies section.sectionIndex3 .movies h6, body .container-fluid main.mainMovies .movies section.sectionIndex3 h6 {
    margin-top: 20px;
  }
  body .container-fluid main section.sectionIndex1 .text, body .container-fluid main section.sectionIndex1 .sectionIndex2 p, body .container-fluid .sectionIndex2 main section.sectionIndex1 p, body .container-fluid main section.sectionIndex1 .sectionIndex2 h2, body .container-fluid .sectionIndex2 main section.sectionIndex1 h2, body .container-fluid .sectionIndex2 main.mainMovies section.sectionIndex1 .movies h6, body .container-fluid .sectionIndex2 main.mainMovies .movies section.sectionIndex1 h6, main.mainMovies .movies body .container-fluid main section.sectionIndex1 .sectionIndex2 h6, main.mainMovies .movies body .container-fluid .sectionIndex2 main section.sectionIndex1 h6, body .container-fluid main section.sectionIndex2 .text, body .container-fluid main section.sectionIndex2 p, body .container-fluid main section.sectionIndex2 h2, body .container-fluid main section.sectionIndex2 main.mainMovies .movies h6, main.mainMovies .movies body .container-fluid main section.sectionIndex2 h6, body .container-fluid main section.sectionIndex3 .text, body .container-fluid main section.sectionIndex3 .sectionIndex2 p, body .container-fluid .sectionIndex2 main section.sectionIndex3 p, body .container-fluid main section.sectionIndex3 .sectionIndex2 h2, body .container-fluid .sectionIndex2 main section.sectionIndex3 h2, body .container-fluid .sectionIndex2 main.mainMovies section.sectionIndex3 .movies h6, body .container-fluid .sectionIndex2 main.mainMovies .movies section.sectionIndex3 h6, main.mainMovies .movies body .container-fluid main section.sectionIndex3 .sectionIndex2 h6, main.mainMovies .movies body .container-fluid .sectionIndex2 main section.sectionIndex3 h6 {
    width: 100%;
    margin: 0;
  }
  /* Fin media para index */
  /* Inicio media para pages */
  body {
    min-height: 100vh;
  }
  body .movies button {
    margin: 5px auto;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px;
  }
  body #modal1, body #modal2, body #modal3, body #modal4, body #modal5 {
    width: 90%;
    position: relative;
    margin-top: 30%;
  }
  body dialog iframe {
    width: 90%;
    margin: 5%;
  }
  /* Media para suscribete */
  .carousel-inner {
    margin-bottom: 10px;
  }
  /* Media para compra */
  .buyTable {
    position: static;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 90%;
  }
  .containerCompra {
    max-width: 80%;
    margin: 0 auto;
  }
  .containerCompra h2 {
    padding-top: 20px;
  }
  .containerCompra img {
    width: 300px;
  }
  /* Media para recomienda */
  .mainRecomendation {
    max-width: 100%;
  }
  .mainRecomendation h6 {
    margin: 5%;
  }
  .mainRecomendation .buttonContainer {
    flex-direction: column;
  }
  .mainRecomendation div div {
    width: 100px;
    height: 40px;
    margin: 5px;
  }
}
@media (max-width: 835px) and (min-width: 577px) {
  body {
    min-height: 100vh;
  }
  .container-fluid {
    margin-right: 0;
    padding: 0;
    border: none;
  }
  .row {
    margin: 0;
  }
  .navbar {
    width: 700px;
  }
  /* Inicio media para header */
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  header .brand {
    padding: 2px;
    margin-top: 5px;
    justify-content: end;
  }
  header .navbar {
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }
  header .navbar ul .nav-item {
    border: none;
  }
  header .navbar-toggler {
    border: white 0.5px solid;
    margin-top: 0;
    position: relative;
    bottom: 65px;
    right: 240px;
  }
  header .navbar-toggler-icon {
    background-image: white;
    width: 16px;
    align-self: center;
    margin-top: 0;
  }
  /* Fin media para header */
  /* Media para pages */
  #modal1, #modal2, #modal3, #modal4, #modal5 {
    width: 80%;
    position: relative;
    margin-top: 30%;
  }
  dialog iframe {
    width: 90%;
    margin: 5%;
  }
  /* Media para suscribete */
  .carousel-inner {
    margin-bottom: 30px;
  }
  /* Media compra */
  .buyTable {
    left: 60%;
    top: 260px;
  }
  .containerCompra {
    max-width: 40%;
  }
  .containerCompra img {
    width: 300px;
  }
  /* Media recomienda */
  #recomendation, #suscribe {
    min-height: calc(100vh - 270px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */